body {
    font-family: 'Questrial';
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    /* background: rgb(2,0,36); */

}
#clock_div{
    width: 400px;
    margin:0 auto;
    text-align: center;
}